{% load crispy_forms_tags %}
<!--Edit Instruction Set Modal -->
<div class="modal fade" id="edit_instruction_set_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit_instruction_set_modal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="instruction_set_form">
                    {% for i in instruction_set_form %}
                    <div class="row">
                        <div class = "col col-md-10 offset-md-1">  
                            {{ i|as_crispy_field }}         
                        </div>            
                    </div> 
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                
                <button type="button"
                        class="btn btn-outline-primary"
                        v-on:click = "send_update_instruction_set()"
                        v-bind:disabled="reconnecting || working">
                    Update <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </div>
</div>