{% load crispy_forms_tags %}
<!--Edit help_doc Set Modal -->
<div class="modal fade" id="edit_help_doc_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit_help_doc_modal" >
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="help_doc_form">
                    {% for i in help_doc_subject_form %}
                    <div class="row">
                        <div class = "col">  
                            {{ i|as_crispy_field }}         
                        </div>            
                    </div> 
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                
                <button type="button"
                        class="btn btn-outline-primary"
                        v-on:click = "send_update_help_doc()"
                        v-bind:disabled="reconnecting || working">
                    Update <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </div>
</div>