<div class="card">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">
            Barriers ([[ Object.keys(parameter_set.parameter_set_barriers).length]]) 
        </span>      

        <span class="float-end">
            <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="send_load_help_doc('Staff Parameters Barriers')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span> 
                
    </div>
    <div class="card-body" >        

        <div class="row justify-content-center">
            <!-- barrier settings -->
            <div class="col-md-auto text-center">                
                <div class="table-responsive">
                    <table class="table table-condensed"> 
                        <thead>
                            <tr>
                                <th scope="col" class = "m-1 p-1">
                                    Info
                                </th> 
                                <th scope="col" class = "m-1 p-1">
                                    Text
                                </th>
                                <th scope="col" class = "m-1 p-1">
                                    Text Rotation
                                </th>
                                <th scope="col" class = "m-1 p-1">
                                    Blocked Groups
                                </th>
                                <th scope="col" class = "m-1 p-1">
                                    Blocked Players
                                </th>     
                                <th scope="col" class = "m-1 p-1">
                                    Location
                                </th>
                                <th scope="col" class = "m-1 p-1">
                                    Size
                                </th> 
                                <th scope="col" class = "m-1 p-1">
                                    Period On/Off
                                </th>                
                            </tr>
                        </thead>
                        <tbody id="barrier_list">
                            <tr v-for="(p, index) in parameter_set.parameter_set_barriers_order" 
                                v-bind:key="p"
                                :set="temp_p=parameter_set.parameter_set_barriers[p]"
                                >
                                <td v-on:click="show_edit_parameter_set_barrier(p)" 
                                    class="player_table_cell">
                                    [[temp_p.info]]
                                </td>
                                <td v-on:click="show_edit_parameter_set_barrier(p)" 
                                    class="player_table_cell">
                                    [[temp_p.text]]
                                </td>
                                <td v-on:click="show_edit_parameter_set_barrier(p)" 
                                    class="player_table_cell">
                                    [[temp_p.rotation]]
                                </td>
                                <td v-on:click="show_edit_parameter_set_barrier(p)" 
                                    class="player_table_cell">
                                    <div v-for="g in temp_p.parameter_set_groups">
                                        <span v-if="g in parameter_set.parameter_set_groups">
                                            [[parameter_set.parameter_set_groups[g].name]]
                                        </span>
                                    </div>
                                    
                                </td>
                                <td v-on:click="show_edit_parameter_set_barrier(p)" 
                                    class="player_table_cell">
                                    <div v-for="g in temp_p.parameter_set_players">
                                        <span v-if="g in parameter_set.parameter_set_players">
                                            [[parameter_set.parameter_set_players[g].id_label]]
                                        </span>
                                    </div>
                                    
                                </td>
                                <td v-on:click="show_edit_parameter_set_barrier(p)" 
                                   class="player_table_cell">
                                    [[temp_p.start_x]], [[temp_p.start_y]]
                                </td>
                                <td v-on:click="show_edit_parameter_set_barrier(p)" 
                                    class="player_table_cell">
                                    [[temp_p.width]] x [[temp_p.height]]
                                </td>
                                <td v-on:click="show_edit_parameter_set_barrier(p)" 
                                    class="player_table_cell">
                                    [[temp_p.period_on]], [[temp_p.period_off]]
                                </td>
                               
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>  

        <div class="row justify-content-center">
            <div class="col-md-auto">
                <button class="btn btn-outline-success btn-sm"
                        type="button"
                        title="Add barrier"
                        v-bind:disabled="session.started || reconnecting || working"
                        v-on:click="send_add_parameter_set_barrier()">
                        Add <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        
    </div>                    
</div> 