{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

<script>

    document.addEventListener("DOMContentLoaded", function(){
        {%include "staff/staff_session/staff_session.js"%}
    });

</script>

<style>

    .chat {       
        width: 100%;
        height: 300px;
        word-breaK:break-word;
        overflow-y:scroll;
        background-color: ghostwhite;
        display:flex; 
        flex-direction:column-reverse;
    }
    .player_table_row {
        cursor: pointer;
    }

    .player_table_cell{
        cursor: pointer;
    }

    .player_table_cell:hover {
        background-color:#ececec;
    }

    .field {
        height: 800px;
        background-color: white; 
        width: 100%;
        max-width: 1920px;
    }

    .the_feed{
        height: 300px;
        word-breaK:break-word;
        overflow-y:scroll;
        display:flex;
        flex-direction:column-reverse;
    }

    .remove_collaborator_button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }

    .add_collaborator_button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }

    .assistant_chat_gpt{
        text-align: left;
        font-size: 14pt;
    }

    .user_chat_gpt{
        text-align: right;
        font-size: 14pt;
        font-style: italic;
        margin-bottom: 10px;
    }

</style>

{%endblock head%}

{% block content %}

<!-- modals -->
<div v-if="session">
    {%include "help_modal.html"%}
    {%include "staff/staff_session/session/edit_session_modal.html"%}
    {%include "staff/staff_session/subjects/edit_subject_modal.html"%}
    {%include "staff/staff_session/subjects/upload_email_list_modal.html"%}
    {%include "staff/staff_session/session/upload_collaborators_list_modal.html"%}
    {%include "staff/staff_session/control/send_invitation_modal.html"%}
</div>

<!-- cards -->
<div class="row justify-content-lg-center" v-if="!session">
    <div class="col text-end">
        <i class="fas fa-cog fa-spin fa-2x"></i>
    </div>
</div>

<div class="row justify-content-lg-center mt-4" v-cloak v-if="session">
    <div class="col-md-9">
        <div class="row">
            <div class="col mb-2">
                {%include "staff/staff_session/subjects/subjects_card.html"%} 
            </div>               
        </div>        
         
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col">
                {%include "staff/staff_session/session/session_card.html"%}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                {%include "staff/staff_session/control/control_card.html"%} 
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                {%include "staff/staff_session/data/data_card.html"%}
            </div>                
        </div>
                                           
    </div>
</div>

<div class="row justify-content-lg-center mt-4" v-cloak v-if="session">
    <div class="col">
        {%include "subject/subject_home/the_stage/the_stage_card.html"%}
    </div>
</div>

<div class="row mt-2" v-cloak v-if="session">    
    <div class="col-md-3">
        <div class = "row">
            <div class="col">
                {%include "staff/staff_session/summary/summary_card.html"%}
            </div>
        </div>
        <div class = "row mt-2" v-if="session.world_state.current_experiment_phase=='Done'">
            <div class="col">
                {%include "staff/staff_session/replay/replay_card.html"%}
            </div>
        </div>
    </div>    
    <div class="col-md-9">
        {%include "staff/staff_session/the_feed/the_feed_card.html"%}
    </div>            
</div>

<div class="row mt-2" v-cloak v-if="session && session.parameter_set.chat_gpt_mode != 'Off'">      
    <div class="col">
        {%include "staff/staff_session/chat_gpt/chat_gpt_card.html"%}
    </div>            
</div>

{% endblock %}