<div class="card">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">
            General Settings
        </span>  
        
        <span class="float-end">
            <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="send_load_help_doc('Staff Parameters General')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span>
    </div>
    <div class="card-body">        
       
        <!-- parameterset settings -->        
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.period_count.label}}:
            </div>
            <div class="col text-start">
                [[parameter_set.period_count]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.period_length.label}}:
            </div>
            <div class="col text-start">
                [[parameter_set.period_length]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.break_frequency.label}}:
            </div>
            <div class="col text-start">
                [[parameter_set.break_frequency]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.break_length.label}}:
            </div>
            <div class="col text-start">
                [[parameter_set.break_length]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.interaction_length.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.interaction_length]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.cool_down_length.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.cool_down_length]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.chat_gpt_mode.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.chat_gpt_mode]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.enable_chat.label}}:
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.enable_chat">Yes</span><span v-else>No</span>
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.show_instructions.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.show_instructions">Yes</span><span v-else>No</span>                
            </div>  
        </div> 
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.survey_required.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.survey_required">Yes</span><span v-else>No</span>                
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.prolific_mode.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.prolific_mode">Yes</span><span v-else>No</span>                
            </div>  
        </div>  
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.tokens_per_period.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.tokens_per_period]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.token_cents_value.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.token_cents_value]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.interaction_range.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.interaction_range]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.avatar_scale.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.avatar_scale]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.avatar_bound_box_percent.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.avatar_bound_box_percent]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.avatar_move_speed.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.avatar_move_speed]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.avatar_animation_speed.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.avatar_animation_speed]]                          
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.world_width.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.world_width]]                 
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.world_height.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.world_height]]                          
            </div>  
        </div> 
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.test_mode.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.test_mode">Yes</span><span v-else>No</span>                
            </div>  
        </div> 
        <div class="row justify-content-center">
            <div class="col-md text-center mb-2 mt-2">
                <button class="btn btn-outline-primary"
                        type="button"
                        title="General Settings"
                        v-bind:disabled="session.started || reconnecting || working"
                        v-on:click="show_edit_parameter_set()">
                    Edit <i class="far fa-edit"></i>
                </button>
            </div>
        </div>
        
    </div>                    
</div> 