<div class="card" id="graph_card" style="width: 1885px;">                  
    <div class="card-header fw-bold">                
        <span class="align-middle"></span>

        <span class="float-end">
            <span v-show="reconnecting" class="me-1">
                Connecting <i class="fas fa-cog fa-spin fa-1x"></i>
            </span>
        </span>

        <span class="float-end">
            {%if session.parameter_set.test_mode%}
                <span class="form-check" v-if="is_subject">
                    <input class="form-check-input"
                           type="checkbox" 
                           value="" 
                           id="testModeCheckBox" 
                           v-model="test_mode">
                    <label class="form-check-label" for="testModeCheckBox">
                    Test Mode On
                    </label>
                </span>
            {%endif%}

            <button type="button" 
                    class="btn btn-link" 
                    title="Show Help" 
                    v-on:click="send_load_help_doc_subject('main_screen')">
                <i class="far fa-question-circle"></i> 
            </button>

            <button type="button" 
                    class="btn btn-link" 
                    title="Chat Bot" 
                    v-if="session.parameter_set.chat_gpt_mode != 'Off' && is_subject"
                    v-on:click="chat_gpt_modal.show()">
                <i class="fas fa-robot"></i> 
            </button>
        </span>
        
    </div>
    <div class="card-body">
        
        <!-- the pixi stage -->
        <div class="row">
            <div class="col">           
                <canvas class="field" 
                        key="sd_graph" 
                        id="sd_graph_id" 
                        style="border-style: solid;border-width: 1px;"
                        oncontextmenu="return false;"></canvas>                
            </div>
        </div>

        <!-- controls -->
        <div class="row" v-if="pixi_mode=='staff' && session">
            <div class="col-md-8">
                <label for="zoom_range" 
                       class="form-label">
                    Zoom
                </label>
                <input type="range" 
                       class="form-range" 
                       min=0.05
                       max=1 
                       step=0.05
                       v-model="pixi_scale_range_control"
                       v-on:input="update_zoom()"
                       id="zoom_range">
            </div>
            <div class="col-md-3">
                <label for="follow_subject" class="form-label">Follow Subject</label>
                <select v-model="follow_subject" 
                        class="form-select" 
                        aria-label="Follow Subject"
                        id="follow_subject">
                    <option :value="-1" :key="-1">None</option>
                    <option v-for="(p, index) in session.session_players_order" 
                           :value="session.session_players[p].id" 
                           :key="index"
                           :set="temp_p=session.session_players[p]">
                           Player [[get_parameter_set_player_from_player_id(p).id_label]]
                    </option>
                </select>
            </div>
            <div class="col-md-1">
                <label for="fit_to_screen" 
                       class="form-label">Fit to Screen</label>
                <br>
                <button type="button"
                        id="fit_to_screen"
                        class="form_button btn btn-outline-primary"
                        v-bind:disabled="reconnecting || working || session.started===false"
                        v-on:click="fit_to_screen()">
                        <i class="fas fa-expand-arrows-alt"></i>
                </button>
            </div>
        </div>

        <div class="row justify-content-center mt-2" v-if="pixi_mode=='subject' && show_chat()">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <input type="text" 
                                class="form-control form-control-lg" 
                                placeholder="Chat Text" 
                                v-model="chat_text"
                                id="id_chat_text"
                                aria-label="Chat Text"                           
                                v-on:keyup.enter="send_chat()"
                                maxlength="100"
                                aria-describedby="send_chat_id">
                            <button class="btn btn-outline-primary btn-lg"
                                    type="button" 
                                    id="send_chat_id" 
                                    title="Send Chat"
                                    v-bind:disabled="reconnecting || working || session.started===false || session.world_state.finished"
                                    v-on:click="send_chat()">Chat <i class="far fa-comments"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-end pe-4 text-secondary">
                        [[chat_text.length]]/100
                    </div>
                </div>
            </div>
        </div>
       
    </div>                    
</div> 